
<div class ="container">

</br><hr></br>
<p>
   Download File:
   <%= link_to "fax_request.csv" , fax_requests_path(format: "csv"), class: 'btn btn-default' %>

</p>
<table class="table table-striped", id= 'fax_request'>
  <thead>
    <tr>
      <th>Recipient name</th>
      <th>Recipient number</th>
      <th>File path</th>
      <th>Client receipt date</th>
      <th>Status</th>
      <th>Message</th>
      <th>Send confirm date</th>
      <th>Vendor confirm date</th>
    </tr>
  </thead>
  <tbody>
    <% @fax_requests.each do |fax_request| %>
      <tr>
        <td><%= fax_request.recipient_name %></td>
        <td><%= fax_request.recipient_number %></td>
        <td><%= fax_request.file_path %></td>
        <td><%= fax_request.client_receipt_date %></td>
        <td><%= fax_request.status %></td>
        <td><%= fax_request.message %></td>
        <td><%= fax_request.send_confirm_date %></td>
        <td><%= fax_request.vendor_confirm_date %></td>
      </tr>
    <% end %>
  </tbody>
  <ul>
  <% 1.upto(@number_of_pages) do |n| %>
    <% if @current_page == n %>
    <li class="current">
      <%= n %>
    </li>
    <% else %>
    <li>
      <a aria_label="Page <%= n %>" href="<%=%>">
        <%= n %>
      </a>
    </li>
    <% end %>

  <% end %>
</ul>

</table>
</div>
