<ul aria_label="Pagination" class="pagination text-center" role="navigation">
<li class="pagination-previous">
<a aria_label="Next page" class="<%= @current_page == 1 ? 'disabled' : '' %>" href=" '#' ">Previous</a>
</li>


<% 1.upto(@number_of_pages) do |n| %>

  <% if @current_page == n %>
    <li class="current">
    <%= n %>
    </li>
  <% else %>
    <li>
    <a aria_label="Page <%= n %>" href="<%=%>">
    <%= n %>
    </a>
    </li>
  <% end %>

<% end %>

<li class="pagination-next">
  <a aria_label="Next page" class="<%= @current_page == @number_of_pages ? 'disabled' : '' %>" href=" '#' %>">Next</a>
</li>

</ul>
