<div class=container>
<p id="notice"><%= notice %></p>
<h1>Fax Requests</h1>

<table class="table table-striped",  id= 'fax_request'>
  <thead>

    <tr>
      <th>Recipient name</th>
      <th>Recipient number</th>
      <th>File path</th>
      <th>Client receipt date</th>
      <th>Status</th>
      <th>Message</th>
      <th>Send confirm date</th>
      <th>Vendor confirm date</th>
   
    </tr>
  </thead>

  <tbody>
    <% @fax_requests.each do |fax_request| %>
      <tr>
        <td><%= fax_request.recipient_name %></td>
        <td><%= fax_request.recipient_number %></td>
        <td><%= fax_request.file_path %></td>
        <td><%= fax_request.client_receipt_date%></td>
        <td><%= fax_request.status %></td>
        <td><%= fax_request.message %></td>
        <td><%= fax_request.send_confirm_date%></td>
        <td><%= fax_request.vendor_confirm_date %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fax Request', new_fax_request_path %>
</div>