<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient name:</strong>
  <%= @fax_request.recipient_name %>
</p>

<p>
  <strong>Recipient number:</strong>
  <%= @fax_request.recipient_number %>
</p>

<p>
  <strong>File path:</strong>
  <%= @fax_request.file_path %>
</p>

<p>
  <strong>Client receipt date:</strong>
  <%= @fax_request.client_receipt_date %>
</p>

<p>
  <strong>Status:</strong>
  <!-- <%=  %> -->
</p>

<p>
  <strong>Message:</strong>
  <%= @fax_request.message %>
</p>

<p>
  <strong>Send confirm date:</strong>
  <%= @fax_request.send_confirm_date %>
</p>

<p>
  <strong>Vendor confirm date:</strong>
  <%= @fax_request.vendor_confirm_date %>
</p>

<%= link_to 'Back', fax_requests_path %>
