<div class="container" >
  <%= render 'form'%>
  <p>
     <h4>Export the results as:
       <%= link_to "CSV file" , export_fax_records_path(format: "csv"), method: :post, class: 'btn btn-default' %>
       <%= link_to "Excel file", export_fax_records_path(format: "xls"), method: :post, class: 'btn btn-default' %>
  </h4>
  </p>

  <table class="table table-striped table-bordered table-condensed", id= 'fax_record' >
    <thead>
      <tr>
        <th> Fax ID</div></th>
        <th> Recipient name</div></th>
        <th> Recipient number</div></th>
        <th> File path</th>
        <th> Confirmation Message</th>
        <th> Send message</th>
        <th> Attempts</th>
        <th> Pages</th>
        <th> Sender fax</div></th>
        <th> Client receipt date</div></th>
        <th> Vendor confirm date</div></th>
        <th> Send confirm date</div></th>
      </tr>
    </thead>

    <tbody>
      <% @fax_records.each do |fax_record| %>
        <tr>
          <td><%= fax_record.id %></td>
          <td><%= fax_record.recipient_name %></td>
          <td><%= fax_record.number_to_fax %></td>
          <td><%= fax_record.file_path %></td>
          <td><%= fax_record.message %></td>
          <td><%= fax_record.result_message %></td>
          <td><%= fax_record.attempts %></td>
          <td><%= fax_record.pages %></td>
          <td><%= fax_record.sender_fax %></td>
          <td><%= fax_record.client_receipt_date.in_time_zone('Central Time (US & Canada)')%></td>
          <td><%= fax_record.vendor_confirm_date %></td>
          <td><%= fax_record.send_confirm_date.in_time_zone('Central Time (US & Canada)')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% unless @current_page.nil?%>
    <% unless @current_page < 2 %>
       <%= link_to "Previous page", fax_records_path(page: @current_page - 1, search_value: @search_value),class:"btn btn-danger"%>
     <%end%>
     <% unless @current_page >= @total_pages %>
       <%= link_to "Next page", fax_records_path(page: @current_page + 1, search_value: @search_value),class:"btn btn-info"%>
     <%end%>
  <%end%>
</div>
