
  <%= render 'form'%>
  
  <table class="table table-striped", id= 'fax_record' >
  
    <thead>
      <tr>
        <th><div class="top">Fax ID</div></th>
        <th><div class="name">Recipient name</div></th>
        <th><div class="number">Recipient number</div></th>
        <th><div class="path">File path</div></th>
        <th><div class="result">Confirmation Message</div></th>
        <th><div class="message">Send message</div></th>
        <th><div class="pages">Attempts</div></th>
        <th><div class="pages">Pages</div></th>
        <th><div class="message">Sender fax</div></th>
        <th><div class="date">Client receipt date</div></th>
        <th><div class="date">Vendor confirm date</div></th>
        <th><div class="date">Send confirm date</div></th>
      </tr>
    </thead>

    <tbody>
      <% @fax_records.each do |fax_record| %>
        <tr>
          <td><%= fax_record.id %></td>
          <td><%= fax_record.recipient_name %></td>
          <td><%= fax_record.number_to_fax %></td>
          <td><%= fax_record.file_path %></td>
          <td><%= fax_record.message %></td>
          <td><%= fax_record.result_message %></td>
          <td><%= fax_record.attempts %></td>
          <td><%= fax_record.pages %></td>
          <td><%= fax_record.sender_fax %></td>
          <td><%= fax_record.client_receipt_date.in_time_zone('Central Time (US & Canada)')%></td>
          <td><%= fax_record.vendor_confirm_date %></td>
          <td><%= fax_record.send_confirm_date.in_time_zone('Central Time (US & Canada)')%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="container">
  <p>
   <h5 style="color:black;"> Export the file as:
       <%= link_to "CSV file" , export_fax_records_path(format: "csv"), method: :post, class: ' button-primary button-tiny' %>
       <%= link_to "Excel file", export_fax_records_path(format: "xls"), method: :post, class: 'button-primary button-tiny' %>
  </h5>
  </p>
   </div>
  <div class="container">
  <div class="top_paginate">
    <% unless @current_page >= @total_pages %>
       <%= link_to "Next page", fax_records_path(page: @current_page + 1, search_value: @search_value),class: 'paginate-primary button-tiny' %>
     <%end%>
  <% unless @current_page.nil?%>
    <% unless @current_page < 2 %>
       <%= link_to "Previous page", fax_records_path(page: @current_page - 1, search_value: @search_value),class: 'paginate-primary button-tiny' %> &nbsp;&nbsp;&nbsp;
     <%end%>
    <%end%>
  </div>
</div>
