!!! XML
%workbook{:xmlns => "urn:schemas-microsoft-com:office:spreadsheet", "xmlns:html" => "http://www.w3.org/TR/REC-html40", "xmlns:o" => "urn:schemas-microsoft-com:office:office", "xmlns:ss" => "urn:schemas-microsoft-com:office:spreadsheet", "xmlns:x" => "urn:schemas-microsoft-com:office:excel"}
  %worksheet{"ss:name" => "Sheet1"}
    %table
      %row
        %cell
          %data{"ss:type" => "String"} recipient_name
        %cell
          %data{"ss:type" => "String"} recipient_number
        %cell
          %data{"ss:type" => "String"} file_path
        %cell
          %data{"ss:type" => "String"} client_receipt_date
        %cell
          %data{"ss:type" => "String"} Status
        %cell
          %data{"ss:type" => "String"} Message
        %cell
          %data{"ss:type" => "String"} Send confirm date
        %cell
          %data{"ss:type" => "String"} Vendor confirm date
      - fax_records_id = session[:fax_records_ids]
      - fax_records= FaxRecord.where(id: fax_records_id)
      - fax_records.each do |fax_record|
        %row
          %cell
            %data{"ss:type" => "String"}= fax_record['recipient_name']
          %cell
            %data{"ss:type" => "String"}= fax_record['recipient_number']
          %cell
            %data{"ss:type" => "String"}= fax_record['file_path']
          %cell
            %data{"ss:type" => "Date"}= fax_record['client_receipt_date']
          %cell
            %data{"ss:type" => "String"}= fax_record['status']
          %cell
            %data{"ss:type" => "String"}= fax_record['message']
          %cell
            %data{"ss:type" => "String"}= fax_record['send_confirm_date']
          %cell
            %data{"ss:type" => "String"}= fax_record['vendor_confirm_date']
