<div class="container">
  <div class= 'col-lg-6 pull-right input-group'>
    <span class='input-group-btn'>
      <%= render 'form'%>
    </span>
  </div>
      
  <table class="table table-striped table-bordered table-condensed table-responsive", id= 'fax_record' >
    <thead id="fax_record_thead">
      <tr>
        <th class='text-center'> Fax ID</div></th>
        <th class='text-center'> Recipient name</div></th>
        <th class='text-center'> Recipient number</div></th>
        <th class='text-center'> File path</th>
        <th class='text-center'> Confirmation Message</th>
        <th class='text-center'> Send Message</th>
        <th class='text-center'> Attempts</th>
        <th class='text-center'> Pages</th>
        <th class='text-center'> Sender Fax</div></th>
        <th class='text-center'> Request Initiated <div></th> 
        <th class='text-center'> Request Sent to Vendor</div></th>
        <th class='text-center'> Vendor Confirmation</div></th>
        <th class='text-center'> Fax Sent Date</div></th>
      </tr>
    </thead>
     
    <tbody>
      <% @fax_records.each do |fax_record| %>
        <tr>
          <td><%= fax_record.id %></td>
          <td class="col-md-2"><%= fax_record.recipient_name %></td>
          <td><%= fax_record.number_to_fax %></td>
          <td><%= fax_record.file_path %></td>
          <td><%= fax_record.message %></td>                     
          <td><%= fax_record.result_message %></td>
          <td><%= fax_record.attempts %></td>
          <td><%= fax_record.pages %></td>
          <td><%= fax_record.sender_fax %></td>
          <td><%= fax_record.created_at.strftime("%I:%M:%S %p %m/%d/%Y") %></td>
          <td><%= fax_record.client_receipt_date.strftime("%I:%M:%S %p %m/%d/%Y")%></td>
          <td><%= fax_record.send_confirm_date.strftime("%I:%M:%S %p %m/%d/%Y") if fax_record.send_confirm_date?%></td>  
          <td><%= fax_record.vendor_confirm_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class='col-md-6'>
    <p><h5>
     Export the results as:
       <%= link_to "CSV file" , export_fax_records_path(format: "csv"), method: :post, class: 'btn btn-default btn-sm' %>
       <%= link_to "Excel file", export_fax_records_path(format: "xls"), method: :post, class: 'btn btn-default btn-sm' %>
   </h5></p>
</div>
 <div class='col-md-6 text-right'> 
  <% unless @current_page.nil?%>
    <% unless @current_page < 2 %>
       <%= link_to "Previous page", fax_records_path(page: @current_page - 1, search_value: @search_value), class: "btn btn-primary btn-sm paginate" %>
     <%end%>
     <% unless @current_page >= @total_pages %>
       <%= link_to "Next page", fax_records_path(page: @current_page + 1, search_value: @search_value),class: "btn btn-primary btn-sm paginate"%>
     <%end%>
  <%end%>
 </div>
</div>
