.container
  .row
    .col-sm-1.sidenav
      %p= link_to 'Jan', report_fax_records_path(desierd_month: 1) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '1'} "
      %p= link_to 'Feb', report_fax_records_path(desierd_month: 2) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '2'} "
      %p= link_to 'Mar', report_fax_records_path(desierd_month: 3) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '3'} "
      %p= link_to 'Apr', report_fax_records_path(desierd_month: 4) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '4'} "
      %p= link_to 'May', report_fax_records_path(desierd_month: 5) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '5'} "
      %p= link_to 'Jun', report_fax_records_path(desierd_month: 6) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '6'} "
      %p= link_to 'Jul', report_fax_records_path(desierd_month: 7) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '7'} "
      %p= link_to 'Aug', report_fax_records_path(desierd_month: 8) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '8'} "
      %p= link_to 'Sep', report_fax_records_path(desierd_month: 9) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '9'} "
      %p= link_to 'Oct', report_fax_records_path(desierd_month: 10) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '10'} "
      %p= link_to 'Nov', report_fax_records_path(desierd_month: 11) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '12'} "
      %p= link_to 'Dec', report_fax_records_path(desierd_month: 12) , class: " btn btn-default #{ 'btn-info' if @desierd_month == '12'} "

    .col-xs-5
      %center
        .panel.panel-info
          .panel-heading
            %h3.panel-title Total Fax Requests for #{@month_name} (#{@success}% Success!)
          .panel-body
            = @fax_records.count
    .col-xs-5
      %center
        .panel.panel-info
          .panel-heading
            %h3.panel-title Total Pages Sent
          .panel-body
            = @fax_records.where(is_success: 't').map(&:pages).map(&:to_i).reduce(0, :+)
    .col-xs-10
      %center
        .panel.panel-info
          .panel-body
            = pie_chart @chart_display, colors: ["#ff3300", "#2eb82e"], library: {legend: {position: "left"}, chartArea: {left:0, width:'100%'}}
    .col-xs-10
      %center
        .panel.panel-info
          .panel-body
            = pie_chart @types_hash, library: {legend: {position: "left"}, chartArea: {left:0, width:'100%'}}

    .col-md-12
      %center
        .panel.panel-info
          .panel-body
            = column_chart @fax_records.group_by_day(:created_at).count
