<p id="notice"><%= notice %></p>

<p>
  <strong>Recipient name:</strong>
  <%= @fax_record.recipient_name %>
</p>

<p>
  <strong>Recipient number:</strong>
  <%= @fax_record.recipient_number %>
</p>

<p>
  <strong>File path:</strong>
  <%= @fax_record.file_path %>
</p>

<p>
  <strong>Client receipt date:</strong>
  <%= @fax_record.client_receipt_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fax_record.status %>
</p>

<p>
  <strong>Sendfaxqueueid:</strong>
  <%= @fax_record.SendFaxQueueId %>
</p>

<p>
  <strong>Message:</strong>
  <%= @fax_record.message %>
</p>

<p>
  <strong>Max fax response check tries:</strong>
  <%= @fax_record.max_fax_response_check_tries %>
</p>

<p>
  <strong>Send confirm date:</strong>
  <%= @fax_record.send_confirm_date %>
</p>

<p>
  <strong>Vendor confirm date:</strong>
  <%= @fax_record.vendor_confirm_date %>
</p>

<p>
  <strong>Send fax queue:</strong>
  <%= @fax_record.send_fax_queue_id %>
</p>

<p>
  <strong>Is success:</strong>
  <%= @fax_record.is_success %>
</p>

<p>
  <strong>Result code:</strong>
  <%= @fax_record.result_code %>
</p>

<p>
  <strong>Error code:</strong>
  <%= @fax_record.error_code %>
</p>

<p>
  <strong>Result message:</strong>
  <%= @fax_record.result_message %>
</p>

<p>
  <strong>Recipient fax:</strong>
  <%= @fax_record.recipient_fax %>
</p>

<p>
  <strong>Tracking code:</strong>
  <%= @fax_record.tracking_code %>
</p>

<p>
  <strong>Fax date utc:</strong>
  <%= @fax_record.fax_date_utc %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @fax_record.fax_id %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @fax_record.pages %>
</p>

<p>
  <strong>Attempts:</strong>
  <%= @fax_record.attempts %>
</p>

<p>
  <strong>Sender fax:</strong>
  <%= @fax_record.sender_fax %>
</p>

<p>
  <strong>Barcode items:</strong>
  <%= @fax_record.barcode_items %>
</p>

<p>
  <strong>Fax success:</strong>
  <%= @fax_record.fax_success %>
</p>

<p>
  <strong>Out bound fax:</strong>
  <%= @fax_record.out_bound_fax_id %>
</p>

<p>
  <strong>Fax pages:</strong>
  <%= @fax_record.fax_pages %>
</p>

<p>
  <strong>Fax date iso:</strong>
  <%= @fax_record.fax_date_iso %>
</p>

<p>
  <strong>Watermark:</strong>
  <%= @fax_record.watermark_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @fax_record.message %>
</p>

<%= link_to 'Edit', edit_fax_record_path(@fax_record) %> |
<%= link_to 'Back', fax_records_path %>
