%nav.navbar.navbar-inverse
  .container-fluid#user_nav
    .navbar-header
      %button.navbar-toggle.collapsed{ type: :button, data: {toggle: :collapse, target: '#bs-example-navbar-collapse-1'}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fax Service', fax_records_path, class: 'navbar-brand'
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      - if current_user
        %ul.nav.navbar-nav#nav-ul
          %li{class: "#{'active' if current_page?(fax_records_path)}"}= link_to 'HOME', fax_records_path
        %ul.nav.navbar-nav.navbar-right#nav-ul
          %li{class: "dropdown #{'active' if current_page?(reports_fax_records_path)}"}
            %a.dropdown-toggle{aria: {expanded: false, haspopup: true}, data: { toggle: 'dropdown', href: '#', role: 'button'}}
              Reports
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Monthly Statistics', reports_fax_records_path(type: 'monthly')
              %li= link_to 'Environment Statistics', reports_fax_records_path(type: 'environments')
              %li.divider{role: 'separator'}
              %li
                %a=link_to 'Faxes with Issues', issues_fax_records_path
          %li.dropdown
            %a.dropdown-toggle{ aria: { expanded: false, haspopup: true}, data: { toggle: 'dropdown', href: '#', role: 'button'}}
              = current_user.name
              %span.caret
            %ul.dropdown-menu#logout
              %li#nav-li
                %a#nav-a{href: "#{signout_path(user_id: current_user.id)}"} Sign out
      - else
        %li#nav-li
          %p#nav-a= link_to 'Sign in', '/auth/azure_oauth2', id: 'sign_in'
