%nav.navbar.navbar-inverse
  .container-fluid#user_nav
    .navbar-header
      %button.navbar-toggle.collapsed{ type: :button, data: {toggle: :collapse, target: '#bs-example-navbar-collapse-1'}}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fax Service', fax_records_path, class: 'navbar-brand'
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right#nav-ul
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{aria: {expanded: false, haspopup: true}, data: { toggle: 'dropdown', href: '#', role: 'button'}}
              Reports
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: '/fax_records/reports?type=monthly'} Monthly Statistics
              %li
                %a{href: '/fax_records/reports?type=environments'} Environment Statistics
              %li.divider{role: 'separator'}
              %li
                %a{href: "#{issues_fax_records_path}"} Faxes with Issues
          %li.dropdown
            %a.dropdown-toggle{ aria: { expanded: false, haspopup: true}, data: { toggle: 'dropdown', href: '#', role: 'button'}}
              = current_user.name
              %span.caret
            %ul.dropdown-menu#logout
              %li#nav-li
                %a#nav-a{href: "#{signout_path(user_id: current_user.id)}"} Sign out
        - else
          %li#nav-li
            %p#nav-a= link_to 'Sign in', '/auth/azure_oauth2', id: 'sign_in'
