.container-fluid
#user_nav
  %nav.navbar.navbar-inverse.fixed-top
    .navbar-header
      %button.navbar-toggle.collapsed{ type: :button, 'data-toggle' => :collapse, 'data-target' => "#bs-example-navbar-collapse-1" }
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Fax Service', root_path, class: 'navbar-brand'
      = link_to 'Reports', report_fax_records_path, class: 'navbar-brand'
      = link_to 'ENV Reports', url_report_fax_records_path, class: 'navbar-brand'  
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      - if current_user
        %ul.nav.navbar-nav.navbar-right#nav-ul
          %li#nav-li
            %p#nav-a
              = current_user.name
              %span.caret
            %ul.dropdown#nav-ul
              %li#nav-li
                = link_to "Sign out", signout_path(user_id: current_user.id), id: "nav-a", class: "sub-menu"
