<!DOCTYPE html>
<html>
  <head>
    <title>Fax</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @fax_request.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(fax_request.errors.count, "error") %> prohibited this fax_request from being saved:</h2>

        <ul>
          <% @fax_request.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
