!!!
%html
  %head
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "http://www.google.com/jsapi", "chartkick"
    = stylesheet_link_tag 'http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css'
    = javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Fax list
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.transparent-header
    = render 'layouts/navbar'
    %div{:style => "margin:50px 0 0 500px;position:absolute;float:center"}
      - if alert.present?
        #flash_message.alert.alert-danger{:style => "text-align: center;font-size:25px;font-weight: bold; background-color:#ad5b5b;color:white"}
          = alert
      - if notice.present?
        #flash_message.alert.alert-danger{:style => "text-align: center;font-size:25px;font-weight: bold; background-color:#9ae2bd;color:black"}
          = notice
    = yield
